.Badges__hero {
    width: 100%;
    padding: 2rem 0;
    background: #1B1B25 url('../../../images/stars.jpeg') no-repeat;
    margin-bottom: 1rem;
    color: #ffffff;
    display: flex;
    justify-content: center;
}

.Badges__hero.Badges__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Badges__container {
    width: 100%;
    max-width: 580px;
    margin: 0 auto;
    padding: 0 1rem;
}

.Badges__center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: column;
}

.Badges_conf-logo {
    margin-bottom: 2rem;
}

.Badges__buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
    cursor: pointer;
}